<div class="card child-card panel panel-default" >
  <div class="panel-body" id="{{model.key}}">
    <div class="header">
      <a *ngIf="model.type.toLowerCase() != 'sub-task'" [routerLink]="childPath" class="navbar-link">{{model.key}}</a>
      <a *ngIf="model.type.toLowerCase() == 'sub-task'" class="disabled navbar-link">{{model.key}}</a>
      <div class="pull-right">
          <a href="{{jiraUrl}}" target="_parent" class="link">
            <span class="glyphicon glyphicon-share-alt glyphicon-small" aria-hidden="true"></span>
          </a>
      </div>
    </div>
    <div class="others-img">
      <img *ngIf="model.typeImgUrl" src="{{model.typeImgUrl}}" tooltipPopupDelay='500' tooltip="{{model.type}}"/>
      <img *ngIf="model.priorityImgUrl" src="{{model.priorityImgUrl}}" tooltipPopupDelay='500' tooltip="{{model.priority}}"/>
    </div>
    <div class="others-text">
      <div class="others-text">{{model.name}}</div>
      <div *ngIf="model.status">
          <span
            [ngClass]="{
              'label-primary': status == statusType.TO_DO,
              'label-warning': status == statusType.IN_PROGRESS,
              'label-success': status == statusType.DONE,
              'label-default': status == statusType.OTHER
            }"
            class="label">{{model.status | uppercase}}</span>
      </div>
    </div>
  </div>
</div>
