<div class="card child-card panel panel-default" >
    <div class="panel-heading" >
      <div class="panel-title">
        <a target="_parent" href="{{jiraUrl}}" class="navbar-link">[{{model.key}}]</a>
      </div>
    </div>
  <div class="panel-body" id="{{model.key}}">
    <div class="others-img">
      <img *ngIf="model.typeImgUrl" src="{{model.typeImgUrl}}"/>
      <img *ngIf="model.priorityImgUrl" src="{{model.priorityImgUrl}}"/>
    </div>
    <div class="others-text">
      <read-more [maxLength]="50" [text]="model.name"></read-more>
    </div>
  </div>
</div>
