<div class="container-fluid container-scroll">
  <div class="row">
    <div *ngFor="let card of cards" class="col-md-3">
      <parent-card [model]="card" [type]="card.type | lowercase"></parent-card>
      <div class="well well-sm" style="height: 73vh; white-space: nowrap; overflow-y: scroll;" *ngIf="card.subCards" >
        <div *ngFor="let subCard of card.subCards">
          <child-card [model]="subCard" [type]="subCard.type"></child-card>
        </div>
      </div>
    </div>
  </div>
</div>
