$cardColumnWidth: 250px;
$cardColumnHeight: 400px;

.container-scrollable {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.card-column {
  width: $cardColumnWidth;
  height: $cardColumnHeight;
  display: inline-block !important;
  white-space: normal;
  overflow: hidden;
  padding-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #F0F0F0;
}
