<div [ngClass]="{ 'hidden': !loading }" class="center-block col-12">
  <img src="https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif" class="center-block spinner-sm"/>
</div>
<div class="pagination-container">
  <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
</div>

<div class="row" id="main-row" [ngClass]="{ 'hidden': loading }">
  <div id="{{card.key}}"  class="col-lg-3" *ngFor="let card of cards | async | paginate: { id: 'server', itemsPerPage: perPage, currentPage: p, totalItems: total };">
    <parent-card [model]="card" [type]="card.type | lowercase" (onRankChangeRequest)="onRankChangeRequest($event)"></parent-card>
    <div class="well well-sm well-scroll" *ngIf="card.subCards" dnd-sortable-container [sortableData]="card.subCards" [dropZones]="[card.key]">
      <div id="{{subCard.key}}-subCard" *ngFor="let subCard of card.subCards; let i = index" dnd-sortable [sortableIndex]="i" [dragData]="subCard.key" (onDropSuccess)="dropSuccess($event)">
        <child-card [model]="subCard" [type]="subCard.type"></child-card>
      </div>
    </div>
  </div>
</div>


