@media (min-width: 992px) {
  .container-scroll > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .container-scroll > .row > .col-md-3 {
    display: inline-block;
    vertical-align: top;
    float: none;
  }
}

.well-scroll {
  height: 73vh;
  white-space: nowrap;
  overflow-y: scroll;
}

.pagination-container {
  position: fixed;
  top: 3%;
  right: 5%
}

.spinner-sm {
  width: 5%;
}
