<div class="card panel panel-primary">
  <div class="panel-heading" >
    <div class="panel-title">
      <a *ngIf="model.type.toLowerCase() != 'sub-task'" [routerLink]="parentPath" class="navbar-link">{{model.key}}</a>
      <a *ngIf="model.type.toLowerCase() == 'sub-task'" class="disabled navbar-link">{{model.key}}</a>
      <div *ngIf="model.key.toLowerCase() != 'others'" class="pull-right">
          <a href="{{jiraUrl}}" target="_parent" class="link">
            <span class="glyphicon glyphicon-share-alt glyphicon-small" aria-hidden="true"></span>
          </a>
      </div>
    </div>
  </div>
  <div class="panel-body" id="{{model.key}}">
    <div *ngIf="isOfProjectType" class="project-img">
      <img *ngIf="model.avatarUrls['48x48']" src="{{model.avatarUrls['48x48']}}"/>
    </div>
    <div *ngIf="!isOfProjectType" class="others-img">
      <img *ngIf="model.typeImgUrl" src="{{model.typeImgUrl}}"/>
      <img *ngIf="model.priorityImgUrl" src="{{model.priorityImgUrl}}"/>
    </div>
    <div [ngClass]="{'project-text': isOfProjectType, 'others-text': !isOfProjectType}" >
      <read-more [maxLength]="50" [text]="model.name"></read-more>
      <div>
        <span
          [ngClass]="{
            'label-primary': status == statusType.TO_DO,
            'label-warning': status == statusType.IN_PROGRESS,
            'label-success': status == statusType.DONE,
            'label-default': status == statusType.OTHER
          }"
          class="label">{{model.status | uppercase}}</span>
      </div>
    </div>
  </div>
</div>
