
<!--<div class="panel panel-default">-->
<div [class]="parent ? 'panel panel-primary' : 'panel panel-default'" >
    <div class="panel-heading">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-target="{{model.key}}" href="#{{model.key}}" aria-expanded="true">
          {{model.name}}
        </a>
        <strong>
          <a [routerLink]="['/' + type, model.key]" class="navbar-link" [style.color]="parent ? 'white' : 'blue'">[{{model.key}}]</a>
        </strong>
      </h3>
    </div>
    <div class="panel-body collapse in" id="{{model.key}}">
      <div *ngIf="model.avatarUrls" class="col-md-2">
        <span class="aui-avatar aui-avatar-project aui-avatar-medium">
              <span class="aui-avatar-inner">
                  <img src="{{model.avatarUrls['48x48']}}">
              </span>
        </span>

      </div>
      <div [class]="model.avatarUrls ? 'col-md-10' : ''">
        <span style="white-space: normal">
            <read-more>
          {{model.description}}
            </read-more>
        </span>

      </div>


    </div>
</div>
