$breadcrumbContainerPadding: 30px;
$breadcrumbItemWidth: 180px;
$breadcrumbItemHeight: 70px;
$breadcrumbSeparatorWidth: 30px;

.breadcrumb-container {
  padding-left: $breadcrumbContainerPadding;
  padding-right: $breadcrumbContainerPadding;
  width: 4 * $breadcrumbItemWidth + 3 * $breadcrumbSeparatorWidth + 2 * $breadcrumbContainerPadding;
  height: $breadcrumbItemHeight;
}
