<div class="row">
  <div class="col-md-6">
    <ol class="aui-nav aui-nav-breadcrumbs __skate">
      <li><a href="#">Home</a></li>
      <li class="aui-nav-selected">Projects</li>
    </ol>
  </div>
</div>

<br/>

<div class="container-fluid container-scroll">
  <div class="row">
    <div *ngFor="let card of cards" class="container col-md-3">
      <card [model]="card" [parent]="true"></card>
      <div class="well well-sm" *ngIf="card.subCards.length > 0" >
        <div *ngFor="let subCard of card.subCards">
          <card [model]="subCard"></card>
        </div>
      </div>
    </div>
  </div>
</div>
